html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}

#chart {
    margin-bottom: 1em;
}

#chart img {
    display: block;
    margin: 2em auto;
}

#parameters {
    margin-bottom: 4em;
}

body {
    background: #ffffff;
    color: #111111;
    font-family: sans-serif;
    padding: 2em;
}

body {
    font-size: 13px;
}

input[type=number] {
    font-size: 1.3em;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

form.parameters {
    background: #aaaaaa;
    border-radius: 0.5em;
    padding: 1em;
    width: 40em;
    margin: 0 auto 0 auto;
}

#message {
    width: 40em;
    border-radius: 0.5em;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 0.5em;
    opacity: 0;
}

#message.success {
    background: darkgreen;
    color: white;
}

#message.ongoing {
    background: yellow;
    color: black;
}

#message.failure {
    background: red;
    color: white;
}

form.parameters label {
    float: left;
}

form.parameters label {
    width: 40%;
}

form.parameters input[type=number] {
    width: 60%;
    font-size: 1em;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2.0) {
    body {
        font-size: 32px;
    }
    form.parameters, #message {
        width: 90%;
    }
    .rickshaw_legend .label {
        font-size: 22px;
    }
}


form.parameters fieldset {
    border: none;
    margin-bottom: 1em;
}
form.parameters fieldset:last-of-type {
    margin-bottom: 0;
}

form.parameters legend {
    color: #0000aa;
    font-weight: bold;
    padding-bottom: 0.5em;
    text-shadow: 0 1px 1px #cccccc;
}

form.parameters fieldset fieldset legend {
    color: #111111;
    font-weight: normal;
    padding-bottom: 0;
}

form.parameters ol li {
    background: #dddddd;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5em;
    line-height: 3em;
    list-style: none;
    padding: 0.1em 0.5em;
    margin-bottom: 0.1em;
}
form.parameters ol ol li {
    background: none;
    border: none;
    float: left;
}


form.parameters fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 2em;
    padding: 0 0 0 3em;
    width: auto;
}
form.parameters fieldset fieldset label:hover {
    cursor: pointer;
}

form.parameters input:not([type=submit]):focus,
form.parameters textarea:focus {
    background: #eaeaea;
}
form.parameters input[type=radio] {
    float: left;
    margin-right: 0.5em;
}

form.parameters button {
    background: #0000aa;
    border: none;
    border-radius: 2em;
    color: #ffffff;
    display: block;
    letter-spacing: 1px;
    margin: auto;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    padding: 0.5em 4em;
    font-size: 1em;
}
form.parameters button:hover {
    background: #0000dd;
    cursor: pointer;
}
form.parameters ol ol li {
    background: none;
    border: none;
    float: left;
}

form.parameters fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 2em;
    padding: 0 0 0 3em;
    width: auto;
}
form.parameters fieldset fieldset label:hover {
    cursor: pointer;
}
                                                                                                                                                                                 }
form.parameters input:not([type=submit]):focus,
form.parameters textarea:focus {
    background: #eaeaea;
}
form.parameters input[type=radio] {
    float: left;
    margin-right: 0.5em;
}



#chart div.title {
    font-size: 0.7em;
}

#chart .y_ticks text {
    font-size: 0.7em;
}

.rickshaw_legend {
    background: none;
}

.rickshaw_legend ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background: none;
}

.rickshaw_legend .label {
    color: black;
}

.rickshaw_legend li.line {
    display:inline;
}
